<form class="form-signin" ng-submit="signup()">
    <h4 class="form-signin-heading">Signup</h4>
    <div class="form-group">
    	<input type="text" ng-model="credentials.email" class="input-block-level form-control" placeholder="Email address" required>	
    </div>
    <div class="form-group">
    	<input type="password" ng-model="credentials.password" class="input-block-level form-control" placeholder="Password" required>	
    </div>
    <div class="form-group">
    	<input type="password" class="input-block-level form-control" placeholder="Re-enter Password">	
    </div>
    <button class="btn btn-large btn-primary pull-right" type="submit">Sign up</button>
</form>